/* Contêiner da imagem */
.img1 {
    position: relative;
    width: 100%;
    height: 50vh; /* imagem ocupa a tela inteira */
    overflow: hidden;
}

.img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* deixa a imagem cortada e ajustada */
}

/* Estilo geral para os textos sobre a imagem */
.img1 h1,
.img1 p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1aa9d490;
    color: white;
    padding: 20px 35px;
    text-align: center;
    border-radius: 50px;  /* deixa o fundo redondo/oval */
    max-width: 80%;
}

.img1 h1 {
    top: 50%;  
    font-size: 100px;
    font-family: "Baskerville ",

}



/* FORMULÁRIO */
.form-container {
    background: #ffffff;
    padding: 70px 0;
}

.form-box {
    width: 60%;
    background: #cfcfcf;
    margin: 0 auto;
    padding: 60px;
    border-radius: 15px;
}

.form-box label {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
}

.form-box input,
.form-box select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    margin-top: 5px;
    font-size: 14px;
}

.btn-cadastrar {
    background: green;
    color: white;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    font-size: 16px;
}

.btn-cadastrar:hover {
    background: #007700;
}

