.container {
    width: 90%;
    max-width: 600px;
    background: #c9c9c9;
    padding: 25px;
    margin: 20px auto;
    border-radius: 15px;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
}

.form label {
    font-weight: bold;
    font-size: 15px;
}

.form input,
.form select {
    width: 100%;
    padding: 12px;
    margin: 5px 0 15px 0;
    border-radius: 10px;
    border: none;
    background: #e8e6e6;
    font-size: 14px;
}

.linha {
    display: flex;
    gap: 20px;
}

.campo {
    flex: 1;
}

/* ===== Botões ===== */

.botoes {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 25px;
}

button {
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.edit {
    background: #649b98;
}

.save {
    background: #47b7bcaa;
}

.delete {
    background: #d66b6b;
}


.tabela-container {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    background: #80808042;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.tabela-container h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
    color: #333;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
}

/* Cabeçalho da tabela */
table thead {
    background: #0ca49a81;
    color: rgb(0, 0, 0);
}

table thead th {
    padding: 12px;
    font-size: 15px;
}



table tbody td {
    padding: 12px;
    text-align: center;
    font-size: 14px;
}

.delete-inline, .edit-inline {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 4px;
    font-size: 14px;
    color: white;
    transition: 0.2s;
}

/* Botão excluir */
.delete-inline {
    background-color: #e74c3c; /* vermelho */
}

.delete-inline:hover {
    background-color: #c0392b;
}

/* Botão editar */
.edit-inline {
    background-color: #3498db; /* azul */
}

.edit-inline:hover {
    background-color: #217dbb;
}
