
.img1 {
    position: relative;
    width: 100%;
    height: 50vh; 
    overflow: hidden;
}

.img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.img1 h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1aa9d490;
    color: white;
    padding: 30px 40px;
    text-align: center;
    border-radius: 50px;  
}

.img1 h1 {
    top: 50%;  
    font-size: 70px;
    font-family: "Baskerville ",

}
label {
    font-weight: bold;
}

.container {
    width: 90%;
    max-width: 600px;
    background: #c9c9c9;
    padding: 25px;
    margin: 20px auto;
    border-radius: 15px;
    font-family: Arial, sans-serif;
}

.form input,
.form select {
    width: 100%;
    padding: 12px;
    margin: 5px 0 15px 0;
    border-radius: 10px;
    border: none;
    background: #e8e6e6;
    font-size: 14px;
}
h2 {
    text-align: center;
    margin-bottom: 25px;
}
.campo {
    flex: 1;
}


.btn-cadastrar {
    background: green;
    color: white;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    font-size: 16px;
}
#tabelaInscricoes {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    font-size: 16px;
}

.container-tabela {
    width: 70%;                
    margin: 40px auto;        
    background: #e3e3e3;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.container-tabela h2 {
    text-align: center;
    margin-bottom: 20px;
}

#tabelaInscricoes {
    width: 100%;              
    border-collapse: collapse;
}

#tabelaInscricoes thead {
    background: #6ac9c5;
}

#tabelaInscricoes th {
    padding: 12px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

.table-wrapper {
    width: 90%;
    margin: 30px auto;
    background: #f1f1f1;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.12);
}

.table-wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2b2b2b;
    font-size: 24px;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 12px;
}

thead {
    background: #6bb8ad; 
}

thead th {
    padding: 12px;
    font-size: 17px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}

/* Linhas */
tbody tr {
    background: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}


td {
    padding: 12px;
    text-align: center;
    color: #333;
    font-size: 16px;
}