/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

/* Barra superior */
.top-bar {
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, #555, #2f4850);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.logo {
    height: 400px;
}

.btn-organizador {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}

/* Container central */
.container {
    width: 100%;
    text-align: center;
    padding: 40px 20px;
}

h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

.login-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.input-box {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

.input-box i {
    font-size: 20px;
    margin-right: 10px;
    color: #444;
}

.input-box input {
    width: 100%;
    border: none;
    font-size: 18px;
    padding: 10px 0;
    outline: none;
}
#outMsg {
    margin-top: 20px;   /* aumenta a distância para baixo */
    font-size: 16px;
    text-align: center;
}


.btn-acessar {
    width: 20%;
    background: #0f8d18;
    border: none;
    padding: 12px;
    font-size: 22px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.recuperar {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    color: #444;
    text-decoration: none;
}

.social-login {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-icon {
    width: 100px;
    cursor: pointer;
}


.cadastro {
    margin-top: 25px;
    font-size: 18px;
}

.cadastro a {
    font-weight: bold;
    text-decoration: none;
}

/* Rodapé */
footer {
    width: 100%;
    padding: 26px;
    text-align: center;
    background: linear-gradient(to bottom, #555, #2f4850);
    color: white;
    margin-top: 40px;
}
.top-border-line {
    width: 100%;
    height: 6px;
    background: #7ac5c3; /* azul claro igual à imagem */
}
